{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>
    <script>
    var datetime={{ job_post.expiry_date }}
    var localDateTime = datetime.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T');
     expiry_date.Value = localDateTime;
    </script>
{% endblock %}

{% block body %}
<h1>Editing Post</h1>

    <hr>
    <h2>Edit:</h2>
    <form action='/posts/edit/{{job_post.id}}' method='POST'>
        Job Title: <input type='text' name='title' id='title' value="{{job_post.title}}">
        <br>
        Job Description: <input type='text' name='description' id='description' value="{{job_post.description}}">
        <br>
        Pay per Hour: <input type='text' name='pay_per_hour' id='pay_per_hour' value="{{job_post.pay_per_hour}}">
        <br>
        Job Expiry Date: <input type="text"  name='expiry_date' id='expiry_date' value="{{(job_post.expiry_date)}}">
        <input type='submit' value='Save'>
    </form>
    <hr>
{% endblock %}