{% extends 'base.html' %}

{% block head %}
    <title>Job Posts</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div>
<a style="display:inline" class="btn btn-success float-right" href="/posts/new" >+ New job Post</a>
      {% if job_posts|length %}
        <h1 style="display:inline">All Job Posts</h1>
      {% else %}
          <h1 style="display:inline">No Jobs Posted Yet. </h1>
          <h4>Please click NewJobPost to post a New Job.</h4>
      {% endif %}
</div>

    <hr>
    {% for job_post in job_posts %}
        <h5>JOB_TITLE:</h5> <small>{{ job_post.title }}</small>

        {% if job_post.description %}
            <h5>JOB_DESCRIPTION:</h5><small>{{ job_post.description }}</small>
        {% else %}
            <h5>JOB_DESCRIPTION:</h5> <small>N/A</small>
        {% endif %}
        
        <h5> PAY_PER_HOUR: </h5> <small>{{ job_post.pay_per_hour}}</small>
        <h5> JOB EXPIRY DATE:</h5> <small>{{ job_post.expiry_date}}</small>
        <hr>

        <a id="delete" data-confirm="Are you sure to delete this item?" class="btn btn-danger" href='/posts/delete/{{job_post.id}}'>Delete</a>
        <a class="btn btn-primary" href='/posts/edit/{{job_post.id}}'>Edit</a>
        <hr>
    {% endfor%}
<script type="text/javascript">
$(document).ready(function () {
    $("#delete").on("click", function (e) {
        e.preventDefault();

        var choice = confirm($(this).attr('data-confirm'));

        if (choice) {
            window.location.href = $(this).attr('href');
        }
    });
});
    </script>
{% endblock %}